Memberships
* User should see link for Basic plan on home page.
* User should see link for Pro plan on home page.
* Basic plan link should point to regular Devise sign up form.
* Pro plan link should point to a custom sign up form.

Stripe Integration
* Users should have a stripe customer token in the users table.
* Javascript should prevent Pro form from submitting, after user fills it out,
and should send card info to Stripe. Stripe will return with a card token.
* Javascript should send user fields and card token to our rails app. Rails app
should validate the user fields. Rails app will note whether plan 1 or plan 2.
* Once validated, Rails should send user info (email, plan id) and card token
to Stripe server and Stripe will create a subscription and send back customer
token. Rails should save customer token and user information to our database.